apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-plugins
data:
  enabled_plugins: "[rabbitmq_management]."
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:latest
          env:
            - name: RABBITMQ_DEFAULT_USER
              value: "kalo"
            - name: RABBITMQ_DEFAULT_PASS
              value: "kalo"
          ports:
            - containerPort: 5672
            - containerPort: 15672
          volumeMounts:
            - name: rabbitmq-lib
              mountPath: /var/lib/rabbitmq
            - name: rabbitmq-log
              mountPath: /var/log/rabbitmq
            - name: rabbitmq-plugins
              mountPath: /etc/rabbitmq/enabled_plugins
              subPath: enabled_plugins
      volumes:
        - name: rabbitmq-lib
          emptyDir: {}
        - name: rabbitmq-log
          emptyDir: {}
        - name: rabbitmq-plugins
          configMap:
            name: rabbitmq-plugins
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
    - name: http
      port: 15672
      targetPort: 15672