apiVersion: apps/v1
kind: Deployment
metadata:
  name: service2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service2
  template:
    metadata:
      labels:
        app: service2
    spec:
      containers:
        - name: service2
          image: service2-dev
          imagePullPolicy: IfNotPresent
          env:
            - name: DB_HOST
              value: "postgres-db2"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "admin"
            - name: DB_PASS
              value: "admin123"
            - name: DB_NAME
              value: "bank"
            - name: RABBITMQ_URL
              value: "amqp://kalo:kalo@rabbitmq:5672"
            # Add extra env from service2/.env.Dev here if needed.
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: service2
spec:
  type: NodePort
  selector:
    app: service2
  ports:
    - port: 80
      targetPort: 3001
      nodePort: 30081   # maps to 8081-ish